In [8]:
import pandas as pd

In [10]:
# Сохраняем данные файлов
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')
data3 = pd.read_csv('data3.csv')

In [14]:
# С помощью ".head()" можно посмотреть первые строки в данных
data1.head()

   ID  Name  Age  Salary
0   1  John   25    5000
1   2   Amy   30    6000
2   3  Mark   35    7000

In [18]:
# С помощью ".info()" смотрим какие типы данных в файле
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   Name    3 non-null      object
 2   Age     3 non-null      int64
 3   Salary  3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 228.0+ bytes

In [24]:
cortege = (data1, data2, data3)
for i in cortege:
    print()
    i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   Name    3 non-null      object
 2   Age     3 non-null      int64
 3   Salary  3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 228.0+ bytes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Open    3 non-null      float64
 2   High    3 non-null      int64
 3   Low     3 non-null      int64
 4   Close   3 non-null      int64
 5   Volume  3 non-null      int64
dtypes: float64(1), int64(4), object(1)
memory usage: 276.0+ bytes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   City        3 non-null      object
 2   Population  3 non-null      int64
 3   Area        3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

In [26]:
# Другой вариант

In [28]:
# Определение таксономии данных
taxonomy = {
    'data1': data1.dtypes,
    'data2': data2.dtypes,
    'data3': data3.dtypes
}

In [30]:
# Вывод результатов таксономии данных
for dataset, dtypes in taxonomy.items():
    print("Таксономия данных для", dataset)
    print(dtypes)
    print()

Таксономия данных для data1
ID         int64
Name      object
Age        int64
Salary     int64
dtype: object

Таксономия данных для data2
Date       object
Open      float64
High        int64
Low         int64
Close       int64
Volume      int64
dtype: object

Таксономия данных для data3
Country        object
City           object
Population      int64
Area          float64
dtype: object